
.catalog__title {
  margin-bottom: 110px;
  margin-top: 50px;
}

.catalog__container {
  padding-top: 170px;
  background-image: url("../Images/dandelion-bg 1.jpg");
  background-repeat: no-repeat;
  background-position: left 250px;
  background-size: 790px auto;
}
