
.catalog__container {
  padding-top: 200px;
  background-image: url("../Images/dandelion-bg 1.jpg");
  background-repeat: no-repeat;
  background-position: left 30px;
  background-size: 790px auto;
}
