.header {
  width: 100%;
  background-color: #f7f7fa;
}

.header__container {
  max-width: 1110px;
  min-height: 80px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 0 0 220px;
  font-size: 24px;
  font-weight: 600;
  color: #515076;
  text-decoration: none;
  cursor: pointer;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.header__menu-link {
  font-size: 14px;
  color: #515076;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.header__menu-link:hover {
  color: #9b89b3;
}

.header__cart-button {
  padding: 10px 22px;
  font-family: inherit;
  font-size: 14px;
  color: #ffffff;
  background-color: #795ea3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition:
  background-color 0.3s ease,
  transform 0.3s ease;
}

.header__cart-button:hover {
  background-color: #5f467f;
  transform: translateY(-2px);
}


.header__logo-image {
  width: 75px;
  height: 75px;
  display: block;
}

.header__navigation {
  flex-grow: 1;
}

.header__cart {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 220px;
}