.products {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    list-style: none;
}

.products__item {
    width: 340px;
}